.discount
    .discount__item
        h3 GET UP TO 20% DISCOUNT IF YOU REGISTER NOW
    .discount__item
        h3 GET UP TO 20% DISCOUNT IF YOU REGISTER NOW
    .discount__item
        h3 GET UP TO 20% DISCOUNT IF YOU REGISTER NOW
