section.what-they-say.outer
    .container
        h2 WHAT THEY SAY
        .swiper-container.slider-what-they-say
            .swiper-wrapper.slider-what-they-say__wrapper
                .swiper-slide.slider-what-they-say__slide 
                    .slider-what-they-say__item 
                        p.slider-what-they-say__quote
                            span It was easy to get started with AI-MAN 
                            | because they had the platform and the people with the skillset to perform the annotation tasks we needed.
                        .slider-what-they-say__author
                            p.linear-color-text.slider-what-they-say__author-name Anakin Dripwalker
                            p.slider-what-they-say__author-job-title Chief Data Scient, AI Order
                .swiper-slide.slider-what-they-say__slide 
                    .slider-what-they-say__item 
                        p.slider-what-they-say__quote
                            span It was easy to get started with AI-MAN 
                            | because they had the platform and the people with the skillset to perform the annotation tasks we needed.
                        .slider-what-they-say__author
                            p.linear-color-text.slider-what-they-say__author-name Anakin Dripwalker
                            p.slider-what-they-say__author-job-title Chief Data Scient, AI Order
                .swiper-slide.slider-what-they-say__slide 
                    .slider-what-they-say__item 
                        p.slider-what-they-say__quote
                            span It was easy to get started with AI-MAN 
                            | because they had the platform and the people with the skillset to perform the annotation tasks we needed.
                        .slider-what-they-say__author
                            p.linear-color-text.slider-what-they-say__author-name Anakin Dripwalker
                            p.slider-what-they-say__author-job-title Chief Data Scient, AI Order
            .slider-what-they-say-navigation
                button(class="slider-what-they-say-button slider-what-they-say-button-prev" area-label="prev slider")
                    svg(width="100" height="100" viewBox="0 0 75 75" xmlns="http://www.w3.org/2000/svg")
                        path(d="M40.8929 14.8284L20.6569 35.0645L62.3006 35.0645V39.0645L20.6569 39.0645L40.8929 59.3006L38.0645 62.129L15 39.0645H14.7178V38.7823L13 37.0645L14.7178 35.3467V35.0645H15L38.0645 12L40.8929 14.8284Z")
                button(class="slider-what-they-say-button slider-what-they-say-button-next" area-label="next slider")
                    svg(width="100" height="100" viewBox="0 0 75 75" xmlns="http://www.w3.org/2000/svg")
                        path(d="M34.1071 60.1716L54.3431 39.9355L12.6994 39.9355V35.9355L54.3431 35.9355L34.1071 15.6994L36.9355 12.871L60 35.9355H60.2822V36.2177L62 37.9355L60.2822 39.6533V39.9355H60L36.9355 63L34.1071 60.1716Z")
                