include Components/logo/logo.pug

html(lang="ru")
    block head
    body
        .root 
            include Components/header/header.pug
            main.page
                block content
            include Components/footer/footer.pug
        <script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js"></script>
        script(src=require("../../views/index/main.js"))
