extends Components/layout/layout.pug


block head
    include Components/head/head.pug
    +head("AI.MAN")

block content
    // Include sections
    include Components/hero/hero.pug
    include Components/discount/discount.pug
    include Components/our-technologies/our-technologies.pug
    include Components/development/development.pug
    include Components/things-we-support/things-we-support.pug
    include Components/what-they-say/what-they-say.pug
