extends Components/layout/layout.pug


block head
    include Components/head/head.pug
    +head("AI.MAN")

block content 
    include Components/hero/hero.pug
    include Components/discount/discount.pug
