nav.navigation
    ul.navigation__wrapper 
        li.navigation__item
            a(href="/mock-address/change-me" class="navigation__link") PRODUCTS
        li.navigation__item
            a(href="/mock-address/change-me" class="navigation__link") SOLUTIONS
        li.navigation__item
            a(href="/mock-address/change-me" class="navigation__link") CUSTOMER
        li.navigation__item
            a(href="/mock-address/change-me" class="navigation__link") PRICING
        li.navigation__item
            a(href="/mock-address/change-me" class="navigation__link") RESOURCES
