mixin __item(title)
    .tabs-our-technologies__item
        .tabs-our-technologies__item-content
            h2= title
                span.linear-color-text  AI.
            p Annotate large volumes of 3D sensor, image, and video data at high throughput. ML-powered pre-labeling and an automated quality assurance system ensure high quality annotations.
            .positions
                ul.positions__wrapper
                    li.positions__item Manage Your Datasets
                    li.positions__item Automate Document Processing
                    li.positions__item Scale Advanced Annotations
            a(class="button button_border", href="/mock-address/change-me") LEARN MORE
        .tabs-our-technologies__item-img
            img(src=require("Assets/images/our-technologies.png"), alt="RILLCUY image")
