.header{
    margin-top: 54px;

    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu{
        display: flex;
        align-items: center;
        gap: 154px;
    }
    .button{flex-shrink: 0}
}


