include ./__item/our-technologies__item.pug

section.our-technologies.outer
    .container
        .our-technologies__header
            h2 OUR TECHNOLOGIES
            <svg width="64" height="64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                <path d="M60.5 6L2.5 64L0 61.5L58 3.5H1V0H64V63.5H60.5V6Z" fill="white"/>
            </svg>
        .swiper-container.our-technologies__tabs.tabs-our-technologies
            .tabs-our-technologies__pagination.pagination-tabs-our-technologies
                div(class="pagination-tabs-our-technologies__item _active") RILLCUY
                div(class="pagination-tabs-our-technologies__item") TRUKAHH
                div(class="pagination-tabs-our-technologies__item") ASELII
                div(class="pagination-tabs-our-technologies__item") KOCKGMG
                div(class="pagination-tabs-our-technologies__item") MDITURU
            .swiper-wrapper.tabs-our-technologies__wrapper
                .swiper-slide.slider-slide.tabs-our-technologies__tab
                    +our-technologies__item("RILLCUY", 1)
                .swiper-slide.slider-slide.tabs-our-technologies__tab
                    +our-technologies__item("TRUKAHH", 2)
                .swiper-slide.slider-slide.tabs-our-technologies__tab
                    +our-technologies__item("ASELII", 3)
                .swiper-slide.slider-slide.tabs-our-technologies__tab
                    +our-technologies__item("MDITURU", 5)
