.our-technologies{
    padding-top: 160px;
    padding-bottom: 160px;

    &__header{
        margin-bottom: 90px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.tabs-our-technologies{
    overflow: hidden;

    &__wrapper{
        padding: 0 15px;
    }
    &__item{
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-content{
            flex: 0 1 585px;
            h2, p{margin-bottom: 36px;}
        }

        .positions{margin-bottom: 48px;}
    }
}

.pagination-tabs-our-technologies{
    display: flex;
    align-items: center;

    &-item {
        cursor: pointer;
        flex: 0 1 25%;
        text-align: center;
        font-weight: $fw-bold;
        font-size: 32px;
        line-height: 200%;
        color: $color-white-050;
        padding-bottom: 24px;
        transition: $transition;

        &::after {
            content: "";
            display: block;
            height: 4px;
            width: 100%;
            background: rgba($color-white, .2);
            transition: $transition;
        }

        &._active {
            color: $color-white;
        }

        &._active::after {
            content: "";
            height: 4px;
            width: 100%;
            background: $color-linear-green-to-yellow;
        }
    }
}

.positions{
    &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 20px;
        color: $color-white;
    }

    &__item{
        display: flex;
        align-items: center;
        position: relative;

        &::before{
            content: "";
            display: block;
            margin-right: 16px;
            width: 32px;
            height: 32px;
            background-color: rgba($color-white, .05);
            border-radius: 50%;
        }
        &::after{
            content: "";
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 4px;
            width: 24px;
            height: 24px;
            background-image: url("src/assets/icons/check.png");
        }
    }
}

