include ./__item/supported-by__item.pug

section.supported-by 
    .container
        h2 SUPPORTED BY
    .swiper-container.slider-supported-by-upper.slider-supported-by
        .swiper-wrapper.slider-supported-by__wrapper
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("toyota")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("flexport")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("paypal")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("nvidia")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("instacart")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("zoox")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("brex")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("globaldata")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("spacex")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("solarcity")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("ferrari")
    .swiper-container.slider-supported-by-lower.slider-supported-by
        .swiper-wrapper.slider-supported-by__wrapper
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("toyota")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("flexport")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("paypal")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("nvidia")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("instacart")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("zoox")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("brex")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("globaldata")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("spacex")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("solarcity")
            .swiper-slide.slider-supported-by__slide
                +supported-by__item("ferrari")
