@import "fonts";
@import "nullstyles";
@import "vars";

h1, h2, h3, h4, h5, h6 {
    font-family: $ff-secondary;
    font-weight: $fw-extrabold;
    font-size: 120px;
    line-height: 141px;
    letter-spacing: 1px;
}

h1{
    color: transparent;
    background: $color-linear-white;
    background-clip: text;
}
h2{
    font-size: 80px;
    line-height: 94px;
    color: $color-white;
    font-weight: $fw-bold;
}

h3{
    font-size: 36px;
    line-height: 200%;
    letter-spacing: 0.04em;
    font-weight: $fw-bold;
    color: transparent;
    background: linear-gradient(270deg, #1A1A1A, $color-black 110%);
    background-clip: text;
}

p{
    line-height: 200%;
    letter-spacing: -0.03em;
    color: $color-white-050;
}
.outer{
    padding-right: 20px;
    padding-left: 20px;
}


.container{
    width: 100%;
    max-width: $limited;
    margin: 0 auto;
}

.linear-color-text{
    color: transparent;
    background: $color-linear-green-to-yellow;
    background-clip: text;
}
/* COMPONENTS */
@import "Components/logo/logo.scss";

/* SECTION */
@import "Components/header/header.scss";
@import "Components/hero/hero.scss";
@import "Components/discount/discount.scss";
@import "Components/our-technologies/our-technologies.scss";
@import "Components/development/development.scss";
@import "Components/footer/footer.scss";
/* UI */
@import "Components/UI/button/button.scss";
@import "Components/UI/button/_arrow/button_arrow.scss";
@import "Components/UI/button/_border/button_border.scss";
@import "Components/UI/button/_fill/button_fill.scss";