// font-family
$ff-primary: 'Plus Jakarta Sans', sans-serif;
$ff-secondary: 'Raleway', sans-serif;

// container limited
$limited: 1312px;

// media breakpoints
$points-sm: 576.98px;
$points-md: 768.98px;
$points-lg: 992.98px;
$points-xl: 1200.98px;
$points-xxl: 1400.98px;

// font-weight
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;

// colors
$color-black: #000;
$color-white: #fff;
$color-white-050: rgba($color-white, .50);
$color-linear-yellow-to-green: linear-gradient(308deg, #A7F306, #F3CD06);
$color-linear-white: linear-gradient(90deg, $color-white rgba($color-black, 0.3) 50%, $color-white);
